@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,500;10..48,700&display=swap');

* {
    font-family: 'Bricolage Grotesque', sans-serif;
    padding: 0px;
    margin: 0px;
    outline: px solid black;
}

:root {
    --primary-color: #ffe5ec;
    --secondary-color: #ffc2d1;
    --accent: #ffb3c6;
}

body {
    height: 100vh;
    background-color: var(--primary-color);
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1.5rem;
    border: none;
    border-radius: .5rem;
    width: 20%;
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

dialog form h2 {
    text-align: center;
}

dialog form input[type="text"],
dialog form input[type="number"] {
    padding: .25rem .5rem;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #d4d4d8;

}

dialog input[type="text"]:focus,
dialog input[type="number"]:focus {
    outline: none;
}

dialog form .checkbox {
    display: flex;
    align-items: center;
    gap: .5rem;
}

dialog form .dialog-buttons {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
}

dialog form button {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: .25rem;
    padding: .5rem .75rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

dialog form button:hover {
    background-color: var(--accent);
    border: 1px solid var(--accent);
}

nav {
    padding: 1rem 2rem;
    box-shadow: 0 4px 5px -2px rgb(0, 0, 0, 0.2);
    background-color: var(--secondary-color);
}

nav h1 {
    font-size: 2.5rem;
}

.new-book-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.new-book-container button {
    padding: .75rem 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: transparent;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.new-book-container button:hover {
    background-color: var(--accent);
}

.new-book-container button:focus {
    outline: none;
}



